NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET=""
NEXT_PUBLIC_SANITY_API_VERSION="" # Optional - The API version provided to the Sanity Client
NEXT_PUBLIC_SANITY_STUDIO_URL="" #Optional, defaults to http://localhost:3333
SANITY_API_READ_TOKEN=""
SANITY_REVALIDATE_SECRET=""
SANITY_API_TOKEN=""
CSRF_SECRET=""

NEXT_PUBLIC_GTM_TAG_ID=""  # GTM TAG ID

# reCAPTCHA
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""

# SendGrid
SENDGRID_API_KEY=""
SENDGRID_FROM_EMAIL=""
SENDGRID_FROM_NAME=""
